<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD de Usuarios</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md">
      <h1 class="text-2xl mb-4">Usuarios</h1>
      <form action="/users" method="POST" class="mb-4">
        <label for="name" class="block mb-2">Nombre:</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="border border-gray-300 rounded-md px-2 py-1 mb-2 w-full"
        />
        <!-- Mostrar mensaje de error para el campo "name" -->
        <% if (errors.name) { %>
        <p class="text-red-500"><%= errors.name.msg %></p>
        <% } %>

        <label for="email" class="block mb-2">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="border border-gray-300 rounded-md px-2 py-1 mb-2 w-full"
        />
        <!-- Mostrar mensaje de error para el campo "email" -->
        <% if (errors.email) { %>
        <p class="text-red-500"><%= errors.email.msg %></p>
        <% } %>

        <label for="password" class="block mb-2">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="border border-gray-300 rounded-md px-2 py-1 mb-2 w-full"
        />
        <!-- Mostrar mensaje de error para el campo "password" -->
        <% if (errors.password) { %>
        <p class="text-red-500"><%= errors.password.msg %></p>
        <% } %>

        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 w-full"
        >
          Crear Usuario
        </button>
      </form>
      <hr class="my-4" />
      <h2 class="text-xl mb-2">Lista de Usuarios</h2>
      <ul>
        <% users.forEach((user) => { %>
        <li class="mb-2">
          <%= user.name %> (<%= user.email %>)
          <a href="/users/edit/<%= user._id %>" class="text-blue-500 mx-2"
            >Editar</a
          >
          <a href="/users/delete/<%= user._id %>" class="text-red-500"
            >Eliminar</a
          >
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>